nav
  h3 HTML and CSS
  a(href=`${baseUrl}/w3scoala/html`) Learn HTML
  a(href=`${baseUrl}/w3scoala/css`) Learn CSS
  a(href=`${baseUrl}/w3scoala/javascript`) Learn JavaScript
  a(href=`${baseUrl}/w3scoala/jade`) Learn Jade
  a(href=`${baseUrl}/w3scoala/scss`) Learn SCSS