header{
  a(href=`${baseUrl}/`) Home
  a(href=`${baseUrl}/html`) HTML
  a(href=`${baseUrl}/css`) CSS
  a(href=`${baseUrl}/javascript`) JavaScript
  a(href=`${baseUrl}/jade`) JADE
  a(href=`${baseUrl}/scss`) SCSS  