header{
  a(href=`${baseUrl}/w3scoala/`) Home
  a(href=`${baseUrl}/w3scoala/html`) HTML
  a(href=`${baseUrl}/w3scoala/css`) CSS
  a(href=`${baseUrl}/w3scoala/javascript`) JavaScript
  a(href=`${baseUrl}/w3scoala/jade`) JADE
  a(href=`${baseUrl}/w3scoala/scss`) SCSS  